@import "../../../styles.scss";

:host {
  .blog-card {
    width: 400px;
    margin: 16px;
    transition:
      transform 0.3s,
      transition box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px $shadow-card;
    }

    .author-date {
      display: flex;
      justify-content: space-between;
      font-size: $font-small;
      color: $color-text-muted;
      margin: 0 16px 8px;
    }

    mat-card-title {
      padding: 0 16px 0 0px;
      font-size: $font-large;
      font-weight: $font-heavy;
      color: $color-text-dark;
      margin: 8px 0;
    }

    mat-card-content {
      font-size: $font-regular;
      line-height: 1.6;
      color: $color-text-medium;
      margin-bottom: 20px;
    }

    .blog-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px 8px 16px;
    }

    .likes-comments {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #7777;
      font-size: $font-small;

      mat-icon {
        color: $icon-color-light;
        vertical-align: middle;
      }
    }
  }
}
