<h1>{{ title }}</h1>

<!-- (click) Event Binding -->
<button mat-raised-button color="primary" (click)="toggleVisibility()">
  {{ isVisible ? "Text verstecken" : "Text anzeigen" }}
</button>

<!-- NgIf and ngClass -->
<div
  *ngIf="isVisible"
  [ngClass]="{ 'visible-class': isVisible, 'hidden-class': !isVisible }"
>
  <p>Dieser Text wird ausgeblendet</p>
</div>

<!-- NgStyle -->
<mat-card>
  <div [ngStyle]="{ color: isVisible ? 'green' : 'red' }">
    {{
      isVisible ? "Der Text ist ersichtlich" : "Der Text ist nicht ersichtlich"
    }}
  </div>
</mat-card>

<!-- NgFor -->
<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let item of items">{{ item }}</mat-list-item>
  </mat-list>
</mat-card>

<!-- NgModel (2-way binding) -->
<mat-form-field appearance="fill">
  <mat-label>Textfeld für deinen Text</mat-label>
  <input matInput [(ngModel)]="inputText" />
</mat-form-field>
<p>Du hast eingegeben: {{ inputText }}</p>
