<div class="top-menu">
  <img
    class="logo"
    src="https://cdn-icons-png.flaticon.com/512/9908/9908191.png"
    alt="Logo"
  />
  <h1>{{ title }}</h1>
</div>

<div class="blogs">
  @for (blog of blogs; track blog.id) {
    <app-blog-card
      [title]="blog.title"
      [author]="blog.author"
      [comments]="blog.comments"
      [contentPreview]="blog.contentPreview"
      [createdAt]="blog.createdAt"
      [headerImageUrl]="blog.headerImageUrl"
      [likes]="blog.likes"
    >
    </app-blog-card>
  }
</div>
