h1 {
  margin-bottom: 20px;
}

.visible-class,
.hidden-class {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ng-style {
  margin-bottom: 20px;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-form-field {
  margin-top: 20px;
}
