<mat-card class="blog-card">
  @if (headerImageUrl) {
    <img mat-card-image [src]="headerImageUrl" alt="{{ title }}" />
  }

  <mat-card-title>{{ title }}</mat-card-title>
  <div class="author-date">
    <span> {{ author }}</span>
    <p>{{ createdAt.substring(0, 10) }}</p>
  </div>

  <mat-card-content>
    <p class="content-preview">{{ contentPreview }}</p>
  </mat-card-content>

  <mat-card-actions>
    <span class="likes-comments">
      <mat-icon aria-hidden="false" aria-label="Likes icon">thumb_up</mat-icon>
      <span>{{ likes }}</span>
      <mat-icon aria-hidden="false" aria-label="Comments icon"
        >comment</mat-icon
      >
      <span>{{ comments }}</span>
    </span>
  </mat-card-actions>
</mat-card>
