<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>
      @if (isAuthenticated()) {
        <div class="user-info">
          <span>{{ userName() }}</span>
        </div>
      }
    </mat-toolbar>
    <mat-nav-list>
      @if (!isAuthenticated()) {
        <a mat-list-item (click)="login()" (keyup)="login()" tabindex="0"
          >Login</a
        >
      }
      @if (isAuthenticated()) {
        <a mat-list-item href="#" [routerLink]="['/add']">+ Add Blog</a>
      }
      @if (isAuthenticated()) {
        <a mat-list-item href="#" (click)="logout()">Logout</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <h1>{{ title }}</h1>

      @if ((isHandset$ | async) === false) {
        @if (isAuthenticated()) {
          <div class="user-info">
            <span>Welcome, {{ userName() }}</span>
          </div>
        }
        <div class="auth-buttons">
          @if (!isAuthenticated()) {
            <button class="button-primary" (click)="login()">Login</button>
          }
          @if (isAuthenticated()) {
            <button class="button-primary" (click)="logout()">Logout</button>
          }
        </div>

        <div class="right-section">
          @if (isAuthenticated()) {
            <button class="add-blog-btn" [routerLink]="['/add']">
              + Add Blog
            </button>
          }
        </div>
      }

      <div class="toolbar-buttons"></div>
    </mat-toolbar>
    @if (isLoading()) {
      <div class="loading-sinner-overlay">
        <div class="spinner"></div>
      </div>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
